<div class="container">

  <div class="row mb-5">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
      <h3>
        <strong>
          マイページ
        </strong>
      </h3>
    </div>
  </div>

  <div class="row justify-content-center mb-3">
    <%= attachment_image_tag @user, :profile_image, size: '150x150', format:'jpg', fallback:"no_image.jpg" %>
  </div>

  <div class="row justify-content-center mb-3">
    <h4>
      <%= @user.name %>
    </h4>
  </div>

  <div class="row justify-content-center mb-5">
    <div class="d-flex align-items-center justify-content-center mr-3">
      <i class="fas fa-cog"></i>
    </div>
    <div>
      <%= link_to "プロフィール編集", edit_user_path(@user.id), class: "btn btn-success" %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-6 text-center">
      <h4>
        <%= @user.followers.count %>
      </h4>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-6 text-center">
      <h4>
        <%= @user.followings.count %>
      </h4>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-6 text-center">
      <%= link_to "フォロワー", user_followers_path(@user.id), class: "btn btn-primary" %>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-6 text-center">
      <%= link_to "フォロー中", user_followings_path(@user.id), class: "btn btn-primary" %>
    </div>
  </div>

</div>