<div class="container">
  <div class="row mb-5">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 border-bottom">
      <h3>
        <strong>
          ユーザを探す
        </strong>
      </h3>
    </div>
  </div>

  <div class="row mb-5">
    <div>
      <%= form_tag({controller:"users",action:"search"}, method: :get) do %>
      　<%= label_tag :"名前" %>
        <%= text_field_tag :search %>
        <%= submit_tag "検索", :name => nil %>
      <% end %>
    </div>
  </div>

  <% @users.each do |user| %>
    <div class="row">
      <% unless user == current_user %>
        <div class="col-lg-3 col-md-3 col-sm-3 col-3">
          <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format:'jpg', fallback:"no_image.jpg" %>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-4 d-flex align-items-center justify-content-center">
          <%= user.name %>
        </div>
          <% if current_user.following?(user) %>
            <% @res = current_user.relationships.where(followed_id: user.id) %>
            <% @res.each do |r| %>
              <% if r.status == "unapproved" %>
                <div class="col-lg-5 col-md-5 col-sm-5 col-5 d-flex align-items-center justify-content-center">
                  <%= link_to "送信取消し", user_relationships_path(user.id), method: :delete, class: "btn btn-outline-danger" %>
                </div>
              <% else %>
                <div class="col-lg-5 col-md-5 col-sm-5 col-5 d-flex align-items-center justify-content-center">
                  <%= link_to "フォロー解除", user_relationships_path(user.id), method: :delete, data: { confirm: "【確認】フォローを解除してもよろしいですか？" }, class: "btn btn-outline-danger" %>
                </div>
              <% end %>
            <% end %>
          <% else %>
            <div class="col-lg-5 col-md-5 col-sm-5 col-5 d-flex align-items-center justify-content-center">
              <%= link_to "リクエスト送信", user_relationships_path(user.id), method: :post, class: "btn btn-outline-primary" %>
            </div>
          <% end %>
      <% end %>
    </div>
  <% end %>

</div>