<div class="container">

  <div class="row mb-3 border-bottom">
    <div class="col-lg-3 col-md-3 col-sm-3 col-3 mr-5">
      <%= attachment_image_tag @user, :profile_image, size: '120x120', format:'jpg', fallback:"no_image.jpg" %>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-7 d-flex align-items-center justify-content-left">
      <strong>
        <%= @user.name %>
      </strong>
    </div>
  </div>

  <table class="table table-hover table-inverse table-bordered mt-5 mb-5 col-md-12">
    <thead class="bg-light">
      <tr>
        <th class="col-md-5 col-4 text-center">アイテム</th>
        <th class="col-md-3 col-3 text-center">数量</th>
        <th class="col-md-4 col-5 text-center">有効期限</th>
      </tr>
    </thead>

    <% @items.each do |item| %>
    <tbody>
      <tr>
        <td class="text-center">
        　<%= item.name %>
        </td>
        <td class="text-center">
          <%= item. amount %>
        </td>
        <% if item.expiration_date <= Date.today %>
          <td class="bg-danger text-center">
            <%= item.expiration_date %>
          </td>
        <% elsif item.expiration_date <= Date.today+14 %>
          <td class="bg-warning text-center">
            <%= item.expiration_date %>
          </td>
        <% else %>
          <td class="text-center">
            <%= item.expiration_date %>
          </td>
        <% end %>
      </tr>
    </tbody>
    <% end %>

  </table>

</div>