<div class="container">
  <div class="row mb-5">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center border-bottom">
      <h3>
        <strong>
          アイテム登録
        </strong>
      </h3>
    </div>
  </div>

  <% if @item.errors.any? %>
    <div class="row justify-content-center mb-3 text-danger">
      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with model:@item, local:true do |f| %>
    <div class="row mb-3">
      <%= f.label :name, "アイテム名", class: "col-lg-5 col-md-5 col-sm-5 col-4 col-form-label text-right" %>
      <%= f.text_field :name %>
    </div>

    <div class="row mb-3">
      <%= f.label :category_id, "カテゴリ", class: "col-lg-5 col-md-5 col-sm-5 col-4 col-form-label text-right" %>
      <%= f.collection_select(:category_id, Category.all, :id, :name, prompt: "選択してください") %>
    </div>

    <div class="row mb-3">
      <%= f.label :amount, "数量", class: "col-lg-5 col-md-5 col-sm-5 col-4 col-form-label text-right" %>
      <%= f.text_field :amount %>
    </div>

    <div class="row mb-5">
      <%= f.label :expiration_date, "有効期限", class: "col-lg-5 col-md-5 col-sm-5 col-4 col-form-label text-right" %>
      <%= f.date_select :expiration_date, use_month_numbers: true, start_year: Time.now.year, end_year: Time.now.year+10, prompt:"--" %>
    </div>

    <div class="row justify-content-center">
      <%= f.submit "登録", class: "btn btn-outline-success" %>
    </div>
  <% end %>

</div>