<div class="container">
  <div class="row mb-5">
    <div class="col-md-12 col-sm-12 col-12 border-bottom">
      <h3>
        <strong>
          <%= @category.name %>
        </strong>
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="d-flex align-items-center justify-content-center ml-3">
      <i class="fas fa-suitcase"></i>
    </div>
    <div class="ml-2">
      <%= link_to "アイテムを登録する", new_item_path, class: "btn btn-success" %>
    </div>
  </div>

  <table class="table table-inverse table-bordered mt-5 mb-5 col-md-12">
    <thead class="bg-light">
      <tr>
        <th class="col-lg-5 col-md-5 col-5 text-center">アイテム</th>
        <th class="col-lg-3 col-md-3 col-2 text-center">数量</th>
        <th class="col-lg-4 col-md-4 col-5 text-center">有効期限</th>
      </tr>
    </thead>

    <% @items.each do |item| %>
      <tbody>
        <tr>
          <td class="text-center pr-4">
        　  <%= link_to item_path(item.id), method: :get do %>
             <%= item.name %>
            <% end %>
          </td>
          <td class="text-center">
            <%= item.amount %>
          </td>
          <% if item.expiration_date.blank? %>
            <td class="text-center">
              なし
            </td>
          <% elsif item.expiration_date <= Date.today %>
            <td class="bg-danger text-center text-white">
              <%= item.expiration_date %>
            </td>
          <% elsif item.expiration_date <= Date.today+14 %>
            <td class="bg-warning text-center">
              <%= item.expiration_date %>
            </td>
          <% else %>
            <td class="text-center">
              <%= item.expiration_date %>
            </td>
          <% end %>
        </tr>
      </tbody>
    <% end %>

  </table>

</div>